---
const nombre = 'bienvenidos a Astro'
const pasatiempos = 'hobbies'
const hobbies = ['programar', 'escribir', 'nadar', 'leer', 'voley']
console.log(hobbies[1]);


---


	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content={Astro.generator} />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-dZ0f6imvR0FaRUHaPpdKTULuiXKgMbDWTLG6mcD0sF+4wGdg1C1C+9IsC6jdtRzh0SmYs0o6m7j6PKYlVhON/w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
			<title>MOVILCENTER</title>
		</head>
		<body>

	

		

			<div class="barra-1">		
        <div class="alig">
         				<img src="logomc.png" class="imagen">
			        	<h1>MOVILCENTER</h1> 
        </div>
				<input type="text" placeholder="Busca tu producto" class="search">
        <div class="help">
          <h4>INICIO</h4>
          <h4><i class="fa-solid fa-magnifying-glass"></i>AYUDA</h4>
        </div>
			</div>




		</body>
	</html>

	<style>

	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital@1&display=swap');


		body {
      background-color: rgb(229, 222, 222);
      text-align: center;
    }

    .barra-1 {
      background-color: #FE6D41;
      height: 100px;
      width: 100%;
      margin-top: 2rem;
      display: flex; /* Utilizamos flexbox para alinear horizontalmente */
      justify-content: space-evenly; /* Centramos los elementos horizontalmente */
      align-items: center; /* Centramos los elementos verticalmente */
    }

    .imagen {
      width: 100px;
      height: 100px;
	 
    }

    h1 {
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
	
    }

    img {
      margin-top: 3px;
    }

    .search {
      font-size: 32px;
      padding: 0;
      width: 20%;
      border-radius: 12px;
	  
	
    }

    .alig {
      display: flex;
      
    }

    h1 {
       margin-top: 2.5rem;
       margin-right: -90px;  
    }

    .help{
      display: flex;
      font-size: 20px;
      color: white;
      width: 400px;
      justify-content: space-around;
      
    }

	</style>
